:root {
  --color-purple: #390dfa;
  --color-orange: #f99b52;

  --color-text-muted: rgba(54, 49, 43, 0.65);

  /* TYPOGRAPHY */
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 20px;
  --text-h1: 50px;
  --text-title: 72px;

  --fs-sm: clamp(0.8rem, -0.09vw + 0.82rem, 0.75rem);
  --fs-base: clamp(1rem, 0vw + 1rem, 1rem);
  --fs-md: clamp(1.25rem, 0.15vw + 1.21rem, 1.33rem);
  --fs-lg: clamp(1.56rem, 0.39vw + 1.47rem, 1.78rem);
  --fs-xl: clamp(1.95rem, 0.76vw + 1.76rem, 2.37rem);
  --fs-xxl: clamp(2.44rem, 1.3vw + 2.12rem, 3.16rem);
  --fs-xxxl: clamp(3.05rem, 2.1vw + 2.53rem, 4.21rem);

  --font-p22: P22, 'sans-serif';
  --font-eudoxus: 'Eudoxus Sans', sans-serif;

  /* SPACING */
  --space-4xs: 2px;
  --space-3xs: 4px;
  --space-2xs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 40px;
  --space-xl: 56px;
  --space-2xl: 64px;
  --space-3xl: 72px;
  --space-4xl: 80px;
  --space-5xl: 88px;
  --space-6xl: 160px;
  --space-7xl: 216px;
}

@media only screen and (max-width: 768px) {
  :root {
    /* TYPOGRAPHY */
    --text-h1: 40px;
    --text-title: 48px;
  }
}
